In [12]:
x=int(input("enter the number: "))
print("10*1=",x*1);print("10*2=",x*2);print("10*3=",x*3);print("10*4=",x*4);print("10*5=",x*5)

enter the number: 12
10*1= 12
10*2= 24
10*3= 36
10*4= 48
10*5= 60

In [16]:
a=int(input("enter the number: "))
print("{0}*1=10".format(a));print("{0}*2=20".format(a));print("{0}*3=30".format(a));print("{0}*4=40".format(a));print("{0}*5=50".format(a))

enter the number: 10
10*1=10
10*2=20
10*3=30
10*4=40
10*5=50

In [28]:
number=int(input("Enter the number to be multiplied="))
print("{0}-5={1} \n{0}-4={2} \n{0}-3={3} \n{0}-2={4} \n{0}-1={5}".format(number,(number-5),number-4,number-3,number-2,number-1))

Enter the number to be multiplied=10
10-5=5
10-4=6
10-3=7
10-2=8
10-1=9

In [31]:
number=int(input("Enter the number to be multiplied="))
print("{0}x5={1} \n{0}x4={2} \n{0}x3={3} \n{0}x2={4} \n{0}x1={5}".format(number,(number*5),number*4,number*3,number*2,number*1))

Enter the number to be multiplied=6
6x5=30
6x4=24
6x3=18
6x2=12
6x1=6

In [42]:
a=int(input("enter number "))
print("{0}x1={1} \n {0}x3={2}\n {0}x5={3}".format(a,a*1,a*3,a*5))

enter number 7
7x1=7
 7x3=21
 7x5=35

In [45]:
num=int(input("enter"))
for i in range(1,6):
    print("{0}x{1}={2}".format(num,i,i*num))

enter16
16x1=16
16x2=32
16x3=48
16x4=64
16x5=80

In [46]:
print(ord('a'))
print(chr(97))   #ASCII table 
for i in range(ord('a'),ord('e')):
    print(i)

97
a
97
98
99
100

In [47]:
str1,str2,str3="1234","ABCD"," "
print(str1.isdigit()) #To check if it contains numerical value alone
print(str2.isalpha()) #To check if it contains alphabet alone 
print(str3.isspace()) #To check if it contains space or not
print(str2.islower()) #To check if it is lowercase or not
print(str2.isupper()) #To check it contains numerical value alone

True
True
True
False
True

In [48]:
#case converstion
lowerstring="lower string to upper"
upperstring="UPPER STRING TO LOWER"
print(lowerstring.upper())  #convert lower to upper case
print(upperstring.lower())  #convert upper to lower

LOWER STRING TO UPPER
upper string to lower

In [131]:
stringsplit="TO BE OR NOT TO BE"
listDS = stringsplit.split()
print("Datastructure type",type(listDS),"List values=>",listDS,sep=" => ")

Datastructure type => <class 'list'> => List values=> => ['TO', 'BE', 'OR', 'NOT', 'TO', 'BE']

In [50]:
print(bool(10<=20))
print(10<=20)
#> <  >=   <=   ==  !=   if a>b do this else do that
print(10==10)
check=bool(10>10)
print(check)

True
True
True
False

In [430]:
for asciil in range(0,128):
    print(chr(asciil))
for i in range(ord('a'),ord('e')):
    print(i)

 

































!
"
#
$
%
&
'
(
)
*
+
,
-
.
/
0
1
2
3
4
5
6
7
8
9
:
;
<
=
>
?
@
A
B
C
D
E
F
G
H
I
J
K
L
M
N
O
P
Q
R
S
T
U
V
W
X
Y
Z
[
\
]
^
_
`
a
b
c
d
e
f
g
h
i
j
k
l
m
n
o
p
q
r
s
t
u
v
w
x
y
z
{
|
}
~

97
98
99
100

In [132]:
myseq="ATGCAATTGGCCAATTGGCCAAAATGAC AATTGGCCAATTT  ATGCATATAGCGC"
#1.find the length of seq
#2.change the case from upper to lower 
#3.get the tata from the sequence using string slicing 
#4.store the sequence except 1st base and the last base 
#like "tgcaattggccaattggccaaaatgac aattggccaattt  atgcatatagcg"
print("len_of_seq=",len(myseq))
print("lowercase=",myseq.lower())
print("string_slicing=",myseq[-8:-4])
print("except_1stlast_base=",myseq[1:-1].lower())

len_of_seq= 57
lowercase= atgcaattggccaattggccaaaatgac aattggccaattt  atgcatatagcgc
string_slicing= TATA
except_1stlast_base= tgcaattggccaattggccaaaatgac aattggccaattt  atgcatatagcg

In [372]:
seq="    AT\n   TATA\n  GCGCGC\n  ATGCATA"
print(seq)
#print(seq[::-1],end="  ")

print("  ATGCATA \n  GCGCGC\n   TATA \n    AT",sep=" ")

    AT
   TATA
  GCGCGC
  ATGCATA
  ATGCATA
  GCGCGC
   TATA
    AT

In [377]:
a=10
b=20
c=30
d=40
print("%d is b value and %d is a value."%(b,a))
print("%d is d value and %d is c value."%(d,c))

20 is b value and 10 is a value.
40 is d value and 30 is c value.

In [432]:
stringsplit="TO BE OR NOT TO BE"
listDS = stringsplit.split()
print(listDS)

['TO', 'BE', 'OR', 'NOT', 'TO', 'BE']